@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #15191d;
  color: #939393;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* * {
  border: 0.1px red solid;
} */

/* -------------------------------------------------------- Fonts ---- */

/* OPTIRomanaRoman-Normal */

@font-face {
  font-family: OPTIRomanaRoman-Normal;
  src: url(/fonts/OPTIRomanaRoman-Normal.woff) format("woff");
}

/* OPTIRomanaRoman-Bold */

@font-face {
  font-family: OPTIRomanaRoman-Bold;
  src: url(/fonts/OPTIRomanaRoman-Bold.woff) format("woff");
}
/* Helvetica */

@font-face {
  font-family: Helvetica;
  src: url(/fonts/Helvetica.woff) format("woff");
}

@font-face {
  font-family: Helvetica-Oblique;
  src: url(/fonts/Helvetica-Oblique.woff) format("woff");
}

@font-face {
  font-family: Helvetica-Bold;
  src: url(/fonts/Helvetica-Bold.woff) format("woff");
}

/* -------------------------------------------------------- Hero Hover Effects ---- */

.itemsLeft h1,
.itemsRight h1 {
  cursor: pointer;
}

.itemsLeft h1:hover,
.itemsRight h1:hover {
  color: #b2b2b2;
}
